<div>
  <div class="py-12 px-4 md:py-16 md:px-8 max-w-[1072px] mx-auto">
    <div class="lg:flex lg:items-center lg:justify-between">
      <header class="mb-6 md:mb-8 lg:mb-0 max-w-[368px]">
        <h1 class="mb-4 md:mb-6">Latest works</h1>
        <p>Sed nec sit malesuada cursus dolor accumsan massa semper enim. Egestas vel ac consectetur enim.</p>
      </header>
      <ul class="flex items-center space-x-5 place-self-end">
        @for (filter of filters(); track $index) {
          <li>
            <button>{{ filter }}</button>
          </li>
        }
      </ul>
    </div>
  </div>
</div>
